body {
    font-family: verdana;
    background: rgb(236, 229, 238);
    line-height: 1.5em;
    margin-left: 2%;
}

* {
    box-sizing: border-box;
}

button {
    background-color: white;
    border-radius: 7px;
    height: 30px;
    border: 1px solid black;
}

button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

button:active {
    background-color: white;
}

input {
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 15px;
}