body {
    font-family: verdana;
    background: rgb(236, 229, 238);
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

button {
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
}
